/* DaisyUI doesn't support Idle and DND by default */

.avatar.idle:before {
    background-color: hsl(var(--wa)/var(--tw-bg-opacity)) !important;
}

.avatar.dnd:before {
    background-color: hsl(var(--er)/var(--tw-bg-opacity)) !important;
}

.avatar.idle:before, .avatar.dnd:before {
    content: "";
    position: absolute;
    z-index: 10;
    display: block;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    outline-style: solid;
    outline-width: 2px;
    outline-color: hsl(var(--b1) / 1);
    width: 15%;
    height: 15%;
    top: 7%;
    right: 7%
}