$color-force: #440059;
$color-blossom: lighten($color-force, 20%);
$color-fade: $color-force;

$color-bg: #07000b;
$color-bg-alt: #190529;

$color-text: #b641ff;
$font-size-base: 1.8rem;

$font-family-base: monospace;
$font-family-heading: $font-family-base;

@import "main";